*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cardItem{
    height: 460px;
    width: 290px;
    padding: 20px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* imagen */
.cardItem .cardImg{
    
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.cardItem .cardImg img{
    transform: scale(0.65);
}

/* descripcion */
.cardDescription{
    display: flex;
    flex-direction: column;
    height: 35%;
}

.cardDescription .title{
    font-size: 21px;
    margin: 6px 0;
}

.cardDescription .description{
    display: none;
}

.cardDescription .cant{
    color: black;
    font-size: 16px;
    margin: 6px 0;

}

.cardDescription .precio{
    color: #040d4f;
    font-size: 25px;
    font-weight: bold;
    
    
}

/* contenedor de botones */

.buttons{
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.buttons .detalles{   
    height: 40px;
    width: 180%;
    border-radius: 10px;
    background-color: #5c00fb81;
    color: white;
    font-size: 20px;
    border: none;
}
.buttons .detalles:hover{
    background-color: #4d00d1cc;
}

.buttons #addCart{
    background-color: #000000b5;
    height: 40px;
    width: 40px;
    border-radius: 10px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttons #addCart img{
    transform: scale(0.7);
}

.buttons #detalleshover, .buttons #addCart:hover{
    background-color: #4c00d1;
}



.buttons .detalles-quitar {
    width: 50px;
    border-radius: 15px;
    background-color: #27252ba9;
    color: white;
    font-size: 18px;
    
}

.buttons .detalles:hover {
    background-color: #4c00d1;
    cursor: pointer;
}

 b{
    background-color:#4c4853dc;
    text-align: center;
    margin-left: 42%;
    color: rgb(255, 255, 255);
    font-size: 30px;
    border-radius: 20px;

    padding: 15px;


}

#completePurchaseBtn {
    text-decoration: none;
    background-color: #4c4853dc;
    color: white;
    font-size: 23px;
    display: flex;
    padding: 10px 29px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin: 30px;
}
#completePurchaseBtn:hover{
    filter: brightness(0.89);
    cursor: pointer;
}

.buttons #addCart img {
    transform: scale(0.7);
}

.buttons #detalleshover,
.buttons #addCart:hover {
    cursor: pointer;
    background-color: #4c00d1;
}

.CarritoVacio{
    
    width: 100%;
    height: 900px;
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.CarritoVacio p {
    background-color: gray;
    padding: 20px;
    border-radius: 10px;
}

.CarritoVacio :link {
    background-color: gray;
    padding: 20px;
    border-radius: 10px;
    color: white;
    text-decoration: none;
}